* {
  cursor: default;
}

.ui {
}
.color-preview {
  display: flex;
  height: 40px;
  width: 100%;  
}
.color-preview_opaque {
  width: 50%;
  height: 100%;
  background: var(--current-color-opaque);
}
.color-preview_transparent {
  width: 50%;
  height: 100%;
  background: var(--transparency-large);
}
.color-preview_transparent::after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background: var(--current-color);
}


.color-inputs {
  display: grid;
  grid-template-columns: min-content repeat(3, 50px) min-content;
}
.alpha-block {
  display: grid;
  grid-template-columns: 1fr 46px;
}

.css-string__rgb {
  display: grid;
  grid-template-columns: 1fr min-content;
}

.section {
  padding: 8px;
}
.section:not(:last-child) {
  border-bottom: 1px solid #efefef;
}
