* {
  cursor: default;
}

.ui {
}



.color-inputs {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  gap: 8px;
}
.alpha-block {
  display: grid;
  grid-template-columns: 1fr 46px;
}

.css-string__rgb {
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: 4px;
}

.section {
  padding: 8px;
}
.section:not(:last-child) {
  border-bottom: 1px solid #efefef;
}

.fills-or-strokes {
  display: flex;
  justify-content: center;
  padding-bottom: 4px;
}

.buttons-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 16px;
}


.checkboxes {
  display: flex;
  
}