.switch > input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  align-items: center;
  cursor: default;
  display: flex;
  height: var(--size-medium);
  position: relative;
}
/* .switch > input:focus ~ span::before {
  box-shadow: 0 0 0 2px var(--blue);
} */

.switch > label {
  text-transform: capitalize;
  align-items: center;
  color: var(--black8);
  display: flex;
  font-family: var(--font-stack);
  font-size: var(--font-size-xsmall);
  font-weight: var(--font-weight-normal);
  height: 100%;
  letter-spacing: var(--font-letter-spacing-pos-xsmall);
  line-height: var(--font-line-height);
  padding: 0 var(--size-xsmall);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.switch_checked > span::after {
  transform: translateX(12px);
}

/* Background */
.switch > span {
  display: flex;
  align-items: center;
  position: relative;
  width: 32px;
  height: 100%;
}
.switch > span::before {
  background-color: var(--black8-opaque);
  border: 1px solid var(--black8-opaque);
  border-radius: 6px;
  content: '';
  display: block;
  height: 10px;
  position: absolute;
  left: 5px;
  transition: background-color 0 0.2s;
  width: 22px;
}

/* Toggle circle */
.switch > span::after {
  background-color: var(--white);
  border: 1px solid var(--black8-opaque);
  border-radius: 50%;
  content: '';
  display: block;
  height: 10px;
  position: absolute;
  left: 5px;
  transition: transform 0.2s;
  width: 10px;
}