.button {
  display: flex;
  align-items: center;
  border-radius: var(--border-radius-large);
  color: var(--white);
  flex-shrink: 0;
  font-family: var(--font-stack);
  font-size: var(--font-size-xsmall);
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--font-letter-spacing-neg-small);
  line-height: var(--font-line-height);
  height: var(--size-medium);
  padding: 0 var(--size-xsmall) 0 var(--size-xsmall);
  text-decoration: none;
  outline: none;
  border: 2px solid transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.button--primary {
  background-color: var(--blue);
}

.button--primary:enabled:active, .button--primary:enabled:focus {
  border: 2px solid var(--black3);
}

.button--primary:disabled {
  background-color: var(--black3);
}

.button--primary-destructive {
  background-color: var(--red);
}

.button--primary-destructive:enabled:active, .button--primary-destructive:enabled:focus {
  border: 2px solid var(--black3);
}

.button--primary-destructive:disabled {
  opacity: 0.3;
}

.button--secondary, .button--secondary-destructive {
  background-color: var(--white);
  border: 1px solid var(--black8);
  color: var(--black8);
  padding: 0 calc(var(--size-xsmall) + 1px) 0 calc(var(--size-xsmall) + 1px);
  letter-spacing: var(--font-letter-spacing-pos-small);
}

.button--secondary:enabled:active, .button--secondary-destructive:enabled:active, .button--secondary:enabled:focus, .button--secondary-destructive:enabled:focus {
  border: 2px solid var(--blue);
  padding: 0 var(--size-xsmall) 0 var(--size-xsmall);
}

.button--secondary:disabled, .button--secondary-destructive:disabled {
  border: 1px solid var(--black3);
  color: var(--black3);
}

.button--secondary-destructive {
  border-color: var(--red);
  color: var(--red);
}

.button--secondary-destructive:disabled {
  background-color: var(--white);
}

.button--secondary-destructive:enabled:active, .button--secondary-destructive:enabled:focus {
  border: 2px solid var(--red);
  padding: 0 var(--size-xsmall) 0 var(--size-xsmall);
}

.button--secondary-destructive:disabled {
  border: 1px solid var(--red);
  background-color: var(--white);
  color: var(--red);
  opacity: 0.4;
}

.button--tertiary, .button--tertiary-destructive {
  border: 1px solid transparent;
  color: var(--blue);
  padding: 0;
  font-weight: var(--font-weight-normal);
  letter-spacing: var(--font-letter-spacing-pos-small);
  cursor: pointer;
}

.button--tertiary:enabled:focus, .button--tertiary-destructive:enabled:focus {
  text-decoration: underline;
}

.button--tertiary:disabled, .button--tertiary-destructive:disabled {
  cursor: default;
  color: var(--black3);
}

.button--tertiary-destructive {
  color: var(--red);
}

.button--tertiary-destructive:enabled:focus {
  text-decoration: underline;
}

.button--tertiary-destructive:disabled {
  opacity: 0.4;
}